* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  margin: 0px auto;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contentBox {
  width: 500px;
  border: solid 2px red;
}

.contentBox form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
}

.contentBox form strong {
  text-align: center;
}

.contentBox form input {
  border: solid 1px #ccc;
  height: 30px;
  padding: 5px;
}

.contentBox button {
  margin-top: 20px;
  height: 25px;
  width: 100px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.containerList {
  margin-top: 50px;
  width: 80%;
}
